<html>
	<head>
		<title>Spring Social Twitter</title>
		<link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css"></link>
	</head>
	<body>
		<h3>Conectar a Twitter</h3>

		<div class="panel panel-default">
		    <div class="panel-body">
		    	<form action="/connect/twitter" method="POST">
					<p>Bienvenido a mi aplicación cliente de Twitter. Antes de empezar debes autenticarte con tu cuenta de Twitter.</p>
					<p>			
						<button type="submit">
							<img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Autenticar Twitter"></img>
						</button>
					</p>			
				</form>
		    </div>
		</div>
	</body>
</html>